header {
	background-color: #203e4a;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5rem;
    text-align: center;
}

aside {
	position: absolute;
    top: 6rem;
	left: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
	width: 25%;
}

aside>span {
	font-weight: bold;
	
}

aside>button {
	background-color: rgb(76, 146, 204);
	color: white;
	border-radius: 5px;
}

aside>div {
	border-top: 2px solid black;
}

aside>div>button {
	background-color: lightgray;
	border-radius: 5px;
	border: none;
	height: 3rem;
}

button {
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 1.3rem;
}

input {
	height: 2rem;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.currentWeather {
    display: flex;
    border: 2px solid black;
    position: absolute;
    top: 6rem;
    left: 30%;
    width: 65%;
	height: 35%;
	flex-direction: column;
	font-size: 1.5rem;
	padding-left: 10px;
}

.currentCity {
	font-weight: bold;
	font-size: 2rem;
}

.currentWeather>span {
	margin-top: 10px;
	margin-bottom: 10px;
}

summary {
	position: absolute;
	top: 23rem;
	left: 30%;
	width: 65%;
	height: 35%;
	font-size: 1.5rem;
	font-weight: bold;
}

.forcast {
	position: absolute;
	display: flex;
	top: 26rem;
	left: 30%;
	width: 65%;
	height: 35%;
	justify-content: space-between;
}

.forcast>div {
	background-color: #203e4a;
	color: white;
	width: 9rem;
	height: 10rem;
	display: flex;
    flex-direction: column;
	font-size: 1.3rem;
}

.forcast>div>span:first-child {
	font-weight: bold;
}